[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyenchant = "*"
click = "*"
flask = "*"
wtforms = "*"
flask-wtf = "*"
gunicorn = "*"

[dev-packages]
black = "*"
pylint = "*"
mypy = "*"
pytest = "*"
pytest-cov = "*"
bpython = "*"
ruff = "*"

[requires]
python_version = "3.10"
