[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyenchant = "*"
click = "*"
flask = "*"
wtforms = "*"
flask-wtf = "*"
gunicorn = "*"

[dev-packages]
flake8-import-order = "*"
flake8 = "*"
flake8-colors = "*"
flake8-bugbear = "*"
black = "*"

[requires]
python_version = "3.10"
